<div id="trillion-widget"></div>
<style>
  body > *:not(#MainContent) {
    display: none;
  }

  #trillion-widget {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    height: 100%;
    width: 100%;
  }

  #trillion-widget div:empty {
    display: inherit;
  }
</style>
<script type="module">
  import { TrillionWidgetApp } from "https://unpkg.com/trillion-widget@0.19.5/build-lib/trillion-widget.js";

  // \/ PASTE YOUR KEY HERE \/
  const activationKey = "PASTE_YOUR_ACTIVATION_KEY_HERE";
  // /\ PASTE YOUR KEY HERE /\

  const elem = document.querySelector("#trillion-widget");
  export const trillionWidget = new TrillionWidgetApp();
  trillionWidget.init(elem);
  trillionWidget.setServiceActivationKey(activationKey);
  const urlParams = new URLSearchParams(window.location.search);
  const jewelryId = urlParams.get("sku");
  if (jewelryId) {
    trillionWidget.setJewelryID(jewelryId);
  }
  trillionWidget.refresh();
</script>
