import { TrillionViewerApp } from "https://unpkg.com/trillion-viewer@0.17.5/build-lib/trillion-viewer.js"

function trillionViewerInit(jewelryId) {
  let galleryList = document.querySelector('.product__media-list li:last-of-type')
  galleryList.innerHTML = '<div id="trillion-viewer"></div>'
  
  const viewerElem = document.getElementById('trillion-viewer')
  const trillionViewer = new TrillionViewerApp()
  
  trillionViewer.init(viewerElem)
  trillionViewer.setJewelryID(jewelryId)
  trillionViewer.refresh()
}

const jewelryExists = (function() {
  const url = document.location.pathname
  const jewelryId = url.substr(url.lastIndexOf('/') + 1)
  
  
  const query = function() {
    fetch(`https://dashboard.trillion.jewelry:8001/trillionwebapp/publication-status/${jewelryId}`, {
        method: "GET",
        headers: {
            "Accept": "application/json",
        }
    })
        .then(response => {
            return response.json();
        })
        .then(data => {
            if (data.isPublishedWebSDK) {
                trillionViewerInit(jewelryId)
            }
        })
  }
  return query()
}) 

jewelryExists()
