<style>
  .product__card-ar-popup {
    position: fixed;
    background: #fff;
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
  }
  #ar__container-close {
    position: absolute;
    top: 19px;
    left: 22px;
    cursor: pointer;
    transition: .5s;
    z-index: 100;
  }
  #ar__container-close svg {
    width: 32px;
    height: 32px;
  }
  #ar {
    position: relative;
    margin-top: 20px; 
    display: block;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%
  }
  .product__card-form-button-ar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222D33;
    width: 100%;
    height: 50px;
    color: #FFF;
  }
  .product__card-form-button-ar:hover {
    opacity: .7;
    transition: .3s ease-in-out;
  }
  .product__card-form-button-ar svg {
    margin-right: 10px;
  }
  .product__card-form-button-ar svg path{
    fill: #FFF;
  }
  .product__card-ar-popup-visible {
    visibility: visible;
    opacity: 1;
    transition: .5s;
  }
  @media screen and (min-width: 700px) {
    .product__card-ar-popup {
      width: 50%;
      height: 80%;
      max-width: 1024px;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      visibility: hidden;
      opacity: 0;
      transition: .5s;
    }

    #ar__container-close {
      top: 0;
      right: -36px;
      left: unset;
    }
    #ar__container-close svg {
      width: 24px;
      height: 24px;
    }

    .product__card-ar-popup-visible {
      visibility: visible;
      opacity: 1;
      transition: .5s;
    }
  }
</style>


<button class="product__card-form-default-button" id="ar" name="ar" type="button">
  <div class="product__card-form-button-ar">
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M9.93467 0L1.29688 4.99852V14.9956L9.93467 19.9941L18.5725 14.9956V4.99852L9.93467 0ZM9.84697 0.26308C9.27697 6.35776 6.47078 11.1809 1.47226 14.7763C3.26997 8.28702 5.15538 4.99852 9.84697 0.26308ZM1.55995 14.9079C7.12848 12.3648 12.7409 12.3648 18.3094 14.9079C11.8639 16.6179 8.04926 16.6179 1.55995 14.9079ZM10.0224 0.26308C14.714 5.04236 16.6432 8.28702 18.3971 14.7763C13.3986 11.2247 10.6362 6.35776 10.0224 0.26308Z" fill="black"/>
    </svg>
    <div class="product__card-form-button-text">
      Try on in AR mode
    </div>
  </div>
</button>

<div class="product__card-ar-popup" id="arPopup">
  <div id="ar__container-close">
    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="24" cy="24" r="24" fill="black" fill-opacity="0.12"/>
      <path d="M36.1978 11.8024L11.8025 36.1977M11.8025 11.8024L36.1978 36.1977L11.8025 11.8024Z" stroke="white" stroke-width="2.11765" stroke-miterlimit="10"/>
    </svg>
  </div>
  <div id="widgetContainer"></div>
</div>
