<style>
  .product__card-ar-popup {
    position: fixed;
    background: #fff;
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
  }
  #ar__container-close {
    position: absolute;
    top: 19px;
    left: 22px;
    cursor: pointer;
    transition: .5s;
    z-index: 100;
  }
  #ar__container-close svg {
    width: 32px;
    height: 32px;
  }
  #ar {
    position: relative;
    margin-top: 20px; 
    display: block;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%
  }
  .product__card-form-button-ar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222D33;
    width: 100%;
    height: 50px;
    color: #FFF;
  }
  .product__card-form-button-ar:hover {
    opacity: .7;
    transition: .3s ease-in-out;
  }
  .product__card-form-button-ar svg {
    margin-right: 10px;
  }
  .product__card-form-button-ar svg path{
    fill: #FFF;
  }
  .product__card-ar-popup-visible {
    visibility: visible;
    opacity: 1;
    transition: .5s;
  }
  @media screen and (min-width: 700px) {
    .product__card-ar-popup {
      width: 50%;
      height: 80%;
      max-width: 1024px;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      visibility: hidden;
      opacity: 0;
      transition: .5s;
    }

    #ar__container-close {
      top: 0;
      right: -36px;
      left: unset;
    }
    #ar__container-close svg {
      width: 24px;
      height: 24px;
    }

    .product__card-ar-popup-visible {
      visibility: visible;
      opacity: 1;
      transition: .5s;
    }
  }
  
  /*  POP UP ONLY DESKTOP CONTAINER  */
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro&display=swap');

        #store__popup_container {
            display: none;
            background: #FFF;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 692px;
            z-index: 100000000;
        }
        .store__popup_content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 56px;
            padding: 63px 54px 61px 72px;
        }
        .store__popup_content_qr_title {
            font-family: 'Playfair Display', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 17px;
            color: #000000;
            margin: 20px 0 32px;
        }
        .store__popup_content_qr_text {
            font-family: 'Source Sans Pro', sans-serif;
            max-width: 252px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
            margin: 0 0 20px;
        }
        .store__text_small {
            max-width: 218px;
        }
        .store__popup_content_qr_qr {
            position: relative;
            width: 160px;
            overflow: hidden;
        }
        .store__qr_image {
            position: absolute;
            width: 48px;
            height: 48px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #FFF;
        }
        #store__popup_close {
            position: absolute;
            right: 30px;
            top: 30px;
            cursor: pointer;
        }
</style>


<script src="https://cdn.jsdelivr.net/npm/qrcode/build/qrcode.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/qrcode/build/qrcode.tosjis.min.js"></script>

<button class="product__card-form-default-button" id="ar" name="ar" type="button">
  <div class="product__card-form-button-ar">
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M9.93467 0L1.29688 4.99852V14.9956L9.93467 19.9941L18.5725 14.9956V4.99852L9.93467 0ZM9.84697 0.26308C9.27697 6.35776 6.47078 11.1809 1.47226 14.7763C3.26997 8.28702 5.15538 4.99852 9.84697 0.26308ZM1.55995 14.9079C7.12848 12.3648 12.7409 12.3648 18.3094 14.9079C11.8639 16.6179 8.04926 16.6179 1.55995 14.9079ZM10.0224 0.26308C14.714 5.04236 16.6432 8.28702 18.3971 14.7763C13.3986 11.2247 10.6362 6.35776 10.0224 0.26308Z" fill="black"/>
    </svg>
    <div class="product__card-form-button-text">
      Try on in AR mode
    </div>
  </div>
</button>

<div class="product__card-ar-popup" id="arPopup">
  <div id="ar__container-close">
    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="24" cy="24" r="24" fill="black" fill-opacity="0.12"/>
      <path d="M36.1978 11.8024L11.8025 36.1977M11.8025 11.8024L36.1978 36.1977L11.8025 11.8024Z" stroke="white" stroke-width="2.11765" stroke-miterlimit="10"/>
    </svg>
  </div>
  <div id="widgetContainer"></div>
</div>

<div id="store__popup_container">
    <div id="store__popup_close">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line x1="0.353553" y1="0.646447" x2="15.3536" y2="15.6464" stroke="black"/>
            <line x1="15.3536" y1="0.353553" x2="0.353554" y2="15.3536" stroke="black"/>
        </svg>
    </div>
    <div class="store__popup_content">
        <div class="store__popup_image">
            <picture>
                <source srcset="https://raw.githubusercontent.com/TrillionHQ/TrillionShopifySDK/master/mobileTryon2x.png 2x">
                <img src="https://raw.githubusercontent.com/TrillionHQ/TrillionShopifySDK/master/mobileTryon.png" alt="mobile tryon">
            </picture>
        </div>
        <div class="store__popup_content__qr">
            <div class="store__popup_content_qr_title">
                Try on in AR mode
            </div>
            <div class="store__popup_content_qr_text">
                You can try the piece online in AR mode. Also, don't forget to make a photo or video and share your experience with friends!
            </div>
            <div class="store__popup_content_qr_text store__text_small">
                Scan the QR-code to try the piece on in the mobile:
            </div>
            <div class="store__popup_content_qr_qr">
                <div class="store__qr_image">
                    <img src="https://raw.githubusercontent.com/TrillionHQ/TrillionShopifySDK/master/logo.svg" alt="Logo trillion">
                </div>
                <canvas id="canvas"></canvas>
            </div>
        </div>
    </div>
</div>

<script>
        let path = window.location.href
        QRCode.toCanvas(document.getElementById('canvas'),
            `${path}`, {
            toSJISFunc: QRCode.toSJIS,
                margin:0,
                width: 160,
                color: {
                    dark:"#222D33",
                    light:"#FFFFFF"
                }
            }, function (error) {
                if (error) console.error(error)
                console.log('success!')
            })
</script>
