<style>
  #trillion-viewer {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
  }
  #trillion-viewer canvas {
    position: relative;
    width: 100% !important;
    height: 100% !important;
  }
</style>

<script type="module">
  import { TrillionViewerApp } from "https://unpkg.com/trillion-viewer@0.19.2/build-lib/trillion-viewer.js";

  // \/ PASTE YOUR KEY HERE \/
  const activationKey = "PASTE_YOUR_ACTIVATION_KEY_HERE";
  // /\ PASTE YOUR KEY HERE /\
  
  const url = document.location.pathname;

  // Choose how to get the SKU
  // Method 1. use sku field in the shopify product
  const jewelryId = "{{ product.selected_or_first_available_variant.sku }}";

  // Method 2. get the sku from the url
  // const jewelryId = url.slice(url.lastIndexOf('/') + 1);
  
  await checkJewelryExists();
  trillionViewerInit();
  
  async function checkJewelryExists() {
    const response = await fetch(`https://dashboard.trillion.jewelry/api/trillionwebapp/publication-status/${jewelryId}`, {
      method: "GET",
      headers: {
        "Accept": "application/json",
      }
    });
    const data = await response.json();
    if (!data.isPublishedWebSDK) {
      throw new Error('[Trillion 3D Viewer] Product is not published');
    }
  }
  
  function trillionViewerInit() {
    const galleryList = document.querySelector('.flickity-slider .product-main-slide:last-of-type');
    galleryList.innerHTML = '<div id="trillion-viewer"></div>';
    galleryList.style.width = '100%';
    galleryList.style.height = '100%';
  
    const viewerElem = document.getElementById('trillion-viewer');
    const trillionViewer = new TrillionViewerApp();
  
    trillionViewer.init(viewerElem);
    trillionViewer.setServiceActivationKey(activationKey);
    trillionViewer.setJewelryID(jewelryId);
    trillionViewer.refresh();
  }
</script>